body{
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  row-gap: 20px;
  column-gap: 20px;

}
.first{
  background-color: azure;
  height:auto;
  width: auto;
  display: flex;

  border: black;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: stretch;
  column-gap: 10px;
  border-radius: 25px;
  border-style: solid ;
  padding-left: 20px;
}
.comment{
  background-color: azure;
  width:auto;
  height:auto;
  align-items: normal;
  border: black;
  border-radius: 25px;
  justify-content: center;
  display: flex;
  text-justify: auto;
  flex-direction: column;
  border-style: solid;
  padding-left: 20px;
}
h2{
  border: black;
  background-color: azure;
  border-radius: 25px;
  border-style: solid;
  padding-left: 20px;
  text-align: center;
}
